@font-face {
  font-family: "DINProRegular";
  src: url("/fonts/DINProRegular.otf") format("opentype");
}

body {
  font-family: "DINProRegular";
}

form { 
  list-style-type: none; 
}
#userInfo1Left {
  font-size: 13px;
  width: 41%;
  height: 36px;
}

#userInfo1Right {
  font-size: 13px;
  width: 161px;
  height: 36px;
  text-align: right;
}

#userEquity {
  width: 285px;
  height: 19px;
  font-size: 13px;
  text-align: start;
}

#userEquityNum {
  width: 285px;
  height: 30px;
  font-size: 26px;
  font-weight: bold;
}

.userInfo1 {
  border-style: solid;
  border-width: thin;
  border-color: rgb(177, 177, 177);
  width: 333px;
  height: 217px;
  border-radius: 2px;
  table-layout: fixed;
  padding: 23px
}

#userInfo2Left {
  border-style: hidden;
  font-size: 13px;
  width: 210px;
  height: 36px;
}

#userInfo2Right {
  border-style: hidden;
  font-size: 13px;
  width: 68px;
  height: 36px;
  text-align: right;
}

#userAv {
  width: 285px;
  height: 19px;
  font-size: 13px;
  text-align: start;
}

#userAvNum {
  width: 285px;
  height: 30px;
  font-size: 26px;
  font-weight: bold;
}

.userInfo2 {
  border-style: solid;
  border-width: thin;
  border-color: rgb(177, 177, 177);
  width: 333px;
  height: 217px;
  border-radius: 2px;
  table-layout: fixed;
  padding: 23px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 115.25px);
  width: 678px;
  max-height: 218px;
  grid-gap: 55px;
  grid-row-gap: 25px;
}

.grid-container-app {
  display: grid;
  grid-template-columns: repeat(2, 340px);
  grid-gap: 2px;
  width: 678px;
  height: 229px;
} 

.grid-item {
  font-size: 13px;
  width: 160px;
  height: 19px;
}

#aboutName {
  font-weight: bold;
  width: 160px;
  height: 19px;
}

#aboutMain {
  font-size: 26px;
}

#aboutMin {
  font-size: 13px;
  position: absolute;
  right: 405px;
  bottom: 325px;
  color: #21ce99;
}

#aboutMin:hover {
  color: #1ae9aa
}

.aboutMain {
  width: 678px;
  height: 47px;
  border-bottom: 1px solid rgb(177, 177, 177)
}

#aboutCEO {
  color: #21ce99;  
}

.description {
  max-width: 570px;
  max-height: 220px;
  font-size: 16px;
}

.about {
  max-width: 678px;
  max-height: 533px;
}

#collections {
  font-size: 26px;
  width: 678px;
  height: 47px;
  border-bottom: 1px solid rgb(177, 177, 177)
}

.tags {
  font-size: 13px;
  box-sizing: border-box;
  display:inline-block;
  background-color: #e6f9f3;
  border-radius: 18px;
  color: #21ce99;
  padding: 7px;
  margin: 4px;
}

.tags:hover {
  background-color: #21ce99;
  color: #ffffff;
}

#tags2 {
  font-size: 13px;
  box-sizing: border-box;
  display:inline-block;
  background-color: #e6f9f3;
  border-radius: 16px;
  color: #21ce99;
  padding: 7px;
  margin: 4px;
}

#tags2:hover {
  background-color: #21ce99;
  color: #ffffff
}

#readMore {
  font-size: 13px;
  color: #21ce99
}

.collections {
  max-width: 678px;
  max-height: 151px;
}

.hover {
  font-size: 13px;
  color: #21ce99;
  box-sizing: border-box;
  border: thin solid #21ce99;
  background-color: #e6f9f3;
  max-width: 166px;
  max-height: 220px;
  border-radius: 14px;
  padding: 30px;
  text-align: start;
  position: static;
  box-shadow: 3px 4px 4px grey
  /* bottom: 55px;
  left: 300px; */
}

/* .hover::after {
  content: " ";
  position: static;
  top: 100%;
  left: 50%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #21ce99;
} */

#informationModule {
  margin: 350px;
  margin-top: 50px;
}

#warning {
  font-size: 8px;
  color: rgb(177, 177, 177);
  text-align: center;
}

#hover-th {
  font-weight: bold;
  background-color: #21ce99;
  color: #ffffff;
  border: thin solid rgb(177, 177, 177);
}

#hover-table:hover {
  background-color: #21ce99;
  color:#ffffff;
}

.arrow-down {
  width: 0; 
  height: 0; 
  top: 100%;
  margin-left: 43.5%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #21ce99;
}

#hover-caption {
  font-weight: bold;
}