node_modules
bundle.js
client/dist/bundle.js.br
client/dist/bundle.js.gz
coverage
InformationModule.pem
./server/postgresLogin.js
data/stocks.csv
data/users.csv
newrelic_agent.log
server/newrelic.js
package-lock.json